body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

happy {
  background-color: bisque;
  padding: 20%;
  font: Helvetica;
}

pos {
  align-content: center;
}