<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title>Pet Search Engine</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		
		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		
		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1> <%= title%> </h1>
    <p>Welcome to <%= title%> Page</p>

    <h2>Please specify your constraints on pet keepers:</h2>

    <form id="html_form" action="pet" role="form" method="post">
      <p>
      Gender:
			<input type="radio" name="sex" value="male" checked>Male
      <input type="radio" name="sex" value="female">Female
      </p>
      <p>
        Species:
      <select name="species">
        <option value="dog">dog</option>
        <option value="cat">cat</option>
        <option value="parrot">parrot</option>
        <option value="fish">fish</option>
        <option value="hawk">hawk</option>
        <option value="horse">horse</option>
        <option value="fish">duck</option>
        <option value="other">others</option>
      </select>
      </p>
      <p>
          Years:
          <select name="years">
            <option value="0-3">0-3</option>
            <option value="3-5">3-5</option>
            <option value="6-10">6-10</option>
            <option value="10+">10+</option>
          </select>
          </p>
      <p>
        House Type:
        <select name="house">
          <option value="house with swimming pool">house with swimming pool</option>
          <option value="house with yard">house with yard</option>
          <option value="big house">big house</option>
          <option value="middle house">middle house</option>
          <option value="small house">small house</option>
        </select>
      </p>
      <p>
          Price Range:<input type="text" name="price_min">~<input type="text" name="price_max">
      </p>
      <p>
        Date:<input id="date" type="date" name="start_date">~<input id="date" type="date" name="end_date">
      </p>
      <br>
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
  </body>
</html>
