<!DOCTYPE html>
<html>
    <head>
        <title>
            Login Status
        </title>
    </head>

    <body>
        <h1>Status：</h1>
        <% if (data.length === 0) {%>
            No Such User
            <div>
                <a class="" href="javascript:history.go(-1)" style="font-size:30px;">Back</a>
            </div>
        <% } else { %>
            <% if(data[0].user_password === password) {%>
                Welcome! You have successfully logined in.
                <form action="search" method="GET">
                    <input type="hidden" name="customer_id" value="<%= data[0].customer_id %>"/>
                    <input type="hidden" name="customer_name" value="<%= data[0].user_name %>"/>
                    <button type="submit">Return to the main page</button>
                </form>
            <% } else{ %>
                Wrong password，<a href="login">Return</a> 
            <% } %>
        <% } %>
    </body>
</html>