<!DOCTYPE html>
<html>
<head>
    <title>Sign up Success Page</title>
</head>


<body>
   <h1>Welcome, <%=name%>!</h1> 
   <a href="login">Go to Login Page</a>
   <a href="search">Go to search Page</a>
</body>

</html>